{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    }
  },
  "rules": {
    "no-var": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error", {
      "functions": true,
      "classes": true,
      "variables": true
    }],
    "no-multi-assign": "error",
    "no-undef-init": "error",
    "no-self-compare": "error",
    "one-var": ["error", "never"],
    "prefer-const": ["error", {
      "destructuring": "all"
    }],
    "no-array-constructor": "error",
    "array-callback-return": "error",
    "array-bracket-spacing": "error",
    "no-useless-computed-key": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "new-cap": "error",
    "class-methods-use-this": ["error", {
      "exceptMethods": ["render"]
    }],
    "no-useless-constructor": "error",
    "key-spacing": "error",
    "dot-notation": "error",
    "no-whitespace-before-property": "error",
    "no-multi-spaces": "error",
    "object-curly-spacing": "off",
    "@typescript-eslint/object-curly-spacing": ["error", "always", {
      "arraysInObjects": true,
      "objectsInObjects": false
    }],
    "func-style": ["error", "expression"],
    "default-param-last": ["error"],
    "max-params": ["error", {
      "max": 3
    }],
    "no-loop-func": "error",
    "no-await-in-loop": "error",
    "no-return-await": "error",
    "require-atomic-updates": "error",
    "max-nested-callbacks": ["error", 3],
    "no-new-func": "error",
    "no-confusing-arrow": "error",
    "no-return-assign": "error",
    "no-lone-blocks": "error",
    "no-iterator": "error",
    "wrap-iife": ["error", "inside"],
    "no-param-reassign": ["error", {
      "props": true
    }],
    "func-call-spacing": ["error", "never"],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "arrow-spacing": "error",
    "arrow-parens": "error",
    "implicit-arrow-linebreak": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-arrow-callback": "error",
    "require-await": "error",
    "indent": "off",
    "@typescript-eslint/indent":["error", 2, {
      "SwitchCase": 1
    }],
    "no-multiple-empty-lines": ["error", {
      "max": 2
    }],
    "id-length": ["error", {
      "min": 2,
      "exceptions": ["i"]
    }],
    "space-in-parens": "error",
    "new-parens": "error",
    "switch-colon-spacing": "error",
    "block-spacing": "error",
    "space-before-blocks": ["error", {
      "functions": "always",
      "keywords": "always",
      "classes": "always"
    }],
    "padded-blocks": ["error", "never"],
    "brace-style": ["error", "1tbs", {
      "allowSingleLine": true
    }],
    "nonblock-statement-body-position": "error",
    "keyword-spacing": "error",
    "space-infix-ops": "error",
    "template-curly-spacing": "error",
    "no-trailing-spaces": ["warn", {
      "ignoreComments": true
    }],
    "spaced-comment": "warn",
    "computed-property-spacing": "error",
    "generator-star-spacing": ["error", "after"],
    "newline-per-chained-call": ["error", {
      "ignoreChainWithDepth": 2
    }],
    "no-duplicate-imports": "error",
    "semi": "error",
    "semi-spacing": "error",
    "semi-style": "error",
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "enums": "always-multiline",
      "generics": "always-multiline",
      "tuples": "always-multiline",
      "functions": "never"
    }],
    "max-len": ["warn", {
      "code": 100,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "camelcase": "error",
    "quotes": ["error", "single"],
    "quote-props": ["error", "as-needed", {
      "keywords": true
    }],
    "jsx-quotes": ["error", "prefer-double"],
    "prefer-template": "error",
    "no-useless-concat": "error",
    "eqeqeq": "error",
    "no-eval": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": "warn",
    "no-mixed-operators": "error",
    "no-else-return": ["warn", {
      "allowElseIf": false
    }],
    "no-console": ["error", {
      "allow": ["warn", "error"]
    }],
    "no-alert": "error",
    "no-unreachable": "error",
    "no-empty": "error",
    "no-prototype-builtins": "off",
    "import/first": "error",
    "import/exports-last": "error",
    "import/newline-after-import": "error",
    "import/no-namespace": "error",
    "import/no-named-default": "error",
    "import/no-anonymous-default-export": "error",
    "import/no-webpack-loader-syntax": "error",
    "import/no-mutable-exports": "error",
    "react/prop-types": "off",
    "react/display-name": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-var-requires": 0
  }
}
