{
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y",
    "import"
  ],
  "settings": {
    "react": {
      "version": "17"
    },
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    // ======= VARIABLES ======= //
    "no-var": "error",
    "no-unused-vars": "error",
    "no-use-before-define": ["error", "nofunc"],
    "no-multi-assign": "error",
    "one-var": ["error", "never"],
    "prefer-const": ["warn", { "destructuring": "all" }],
    // ======= ARRAYS ======= //
    "no-array-constructor": "error",
    "array-callback-return": "error",
    "array-bracket-spacing": "warn",
    // ======= OBJECTS / CLASSES ======= //
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "new-cap": "error",
    "class-methods-use-this": "error",
    "no-useless-constructor": "error",
    "no-prototype-builtins": "warn",
    "key-spacing": "error",
    "dot-notation": ["warn", { "allowKeywords": true }],
    "quote-props": ["warn", "as-needed", { "keywords": true }],
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["warn", "always", { "objectsInObjects": false }],
    // ======= FUNCTIONS ======= //
    "func-style": ["error", "expression"],
    "no-loop-func": "error",
    "no-new-func": "error",
    "no-iterator": "error",
    "wrap-iife": ["error", "inside"],
    "no-param-reassign": "error",
    "func-call-spacing": "error",
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "arrow-spacing": "error",
    "implicit-arrow-linebreak": "error",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "prefer-arrow-callback": "warn",
    // ======= GENERAL INDENT && SPACING ======= //
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "space-in-parens": "error",
    "block-spacing": "error",
    "space-before-blocks": "error",
    "padded-blocks": ["error", "never"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "nonblock-statement-body-position": "error",
    "keyword-spacing": "error",
    "space-infix-ops": "error",
    "template-curly-spacing": "error",
    "no-trailing-spaces": ["warn", { "ignoreComments": true }],
    "spaced-comment": "warn",
    "computed-property-spacing": "error",
    "generator-star-spacing": ["error", "after"],
    "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 2 }],
    // ======= MISC ======= //
    "semi": "error",
    "semi-spacing": "error",
    "semi-style": "error",
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "comma-dangle": ["error", "only-multiline"],
    "max-len": ["warn", {
      "code": 120,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "id-length": ["warn", {
      "min": 2,
      "exceptions": ["i", "e"]
    }],
    "camelcase": "error",
    "quotes": ["error", "single"],
    "prefer-template": "error",
    "no-useless-concat": "error",
    "eqeqeq": "error",
    "radix": "error",
    "no-eval": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": "warn",
    "no-mixed-operators": "error",
    "no-else-return": ["warn", { "allowElseIf": false }],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-alert": "error",
    // ======= IMPORTS ======= //
    "import/first": "error",
    "import/exports-last": "error",
    "import/newline-after-import": "error",
    "import/no-namespace": "error",
    "import/no-named-default": "error",
    "import/no-anonymous-default-export": "error",
    "import/no-webpack-loader-syntax": "error",
    "import/no-mutable-exports": "error",
    "no-duplicate-imports": "error",
    // ======= REACT ======= //
    "react/prop-types": "off",
    "react/display-name": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
