$font-family: "Source Sans Pro", "Segoe UI", roboto, "Open Sans", arial, sans-serif;
$code-font-family: source-code-pro, menlo, monaco, consolas, "Courier New", monospace;
$font-size: 16px;
$line-height: 24px;
$main-bg-color: #f1f1f1;
$main-color: #333333;
$min-width: 320px;
