.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  margin: 0;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
}

.app-content {
  margin-top: 40px;
}

.logo-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (max-width: 460px) {
  .logo-cards-wrapper {
    justify-content: center;
  }
}
