// IMPORTS
@import "../../../public/normalize.scss";

// VARIABLES
$font-family: "Source Sans Pro", "Segoe UI", "Roboto", "Open Sans", Arial, sans-serif;
$code-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$font-size: 16px;
$line-height: 24px;
$main-bg-color: #f1f1f1;
$main-color: #333333;
$min-width: 320px;
$max-width: 1200px;

// STYLES
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $min-width;
  min-height: 100vh;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $main-color;
  word-wrap: break-word;
  background-color: $main-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font-family;
}

a {
  text-decoration: none;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  margin: 0;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
}

.app-content {
  margin-top: 40px;
}

@keyframes spin {
  0%  {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
}

.logo__card {
  position: relative;
  width: 25%;
  min-width: 135px;
  padding: 10px 30px;
  text-align: center;
}

.logo__img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;

  &--spin {
    animation: spin infinite 25s linear;
  }
}

.logo__title {
  margin-top: 15px;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .logo__card {
    width: 33%;
  }
}

@media (max-width: 460px) {
  .logo-cards-wrapper {
    justify-content: center;
  }

  .logo__card {
    width: 50%;
    transform: scale(0.9);
  }
}
