@import "./styles/normalize.scss";
@import "./styles/variables.scss";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $min-width;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $main-color;
  word-wrap: break-word;
  background-color: $main-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font-family;
}

a {
  text-decoration: none;
}
